*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    background-color: #FFD400;
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: #FFD400;

}
nav ul{
    display: flex ;
    justify-content: space-between;
    align-items: center;
}
nav ul li, a{
    color: black;
}
nav ul li:nth-child(2) i{
    font-size: 25px;
}
nav ul li:nth-child(3) i{
    position: absolute;
    font-size: 20px;
    color: black;
    line-height: 40px;
}
nav ul li:nth-child(4) i{
    font-size: 20px;
    color: black;
    line-height: 20px;
}
nav ul li:nth-child(4) button{
    size: 25px;
}
nav ul li:hover{
    background-color: white;
}
/*--------------------------address-form--------------*/
.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
.address-form-content{
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

.address-form-content h3{
    font-size: 15px;
    padding: 12px 0;
    border-bottom: 1px solid #dddd;
    position: relative;
}
.address-form-content h3 span{
    display: block;
    position: absolute;
    height: 20px;
    padding: 0 5px;
    border: 1px solid #dddd;
    right: 5px;
    cursor:pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 20px;
}
.address-form-content form{
    padding: 10px 30px;
}
.address-form-content form p{
    font-size: 15px;
    margin-top: 10px;
}
.address-form-content form input, select{
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #dddd;
}
.address-form-content form button{
    height: 40px;
    width: 200px;
    background-color: #EA5832;
    margin-top: 15px;
    color: white;
}


/*--------------------------menu-bar--------------*/
.menu-bar{
    background-color: #FFD400;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
}
.menu-bar ul li{
    padding: 10px 5px;
}
.menu-bar ul li a{
    margin-right: 7px;
    font-size: 15px;
    color: black;
}
.menu-bar ul li:hover{
    background-color: white;
}